body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

.modal-backdrop {
    display: block; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido de la Modal (la caja blanca) */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    width: 90%; 
    max-width: 560px; 
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}


/* 2. ENCABEZADO */

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.modal-header h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.modal-header {
    position: relative;
    padding: 16px 20px;
}

.x {
    position: flex;
    text-decoration: none;
    color: #333;
    padding: 0; 
    cursor: pointer;
    font-size: 1.5em;
    z-index: 10;
}

.x p {
    margin: 0; 
    padding: 25 px; 
    font-weight: bold;
}

/* 3. CUERPO DE LA MODAL */

.modal-body {
    padding: 24px;
}

.welcome-title {
    color: #ff385c;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    overflow: hidden;
}

.input-group:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group:last-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.account-notice {
    font-size: 0.85em;
    color: #717171;
    margin-bottom: 16px;
}

.account-notice a {
    color: #717171;
    text-decoration: underline;
}

.continue-btn {
    width: 100%;
    background-color: #ff385c; 
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.continue-btn:hover {
    background-color: #d92d52;
}
